<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link href='/style.css' rel='stylesheet' />
    <title>Cat example</title>
  </head>
  <body class=''>
    <h1 class=''>Cat Photos</h1>
    <label for='photo_count_input'>How may photos?:</label>
    <input id='photo_count_input' type='text' />
    <button>Get Photos</button>
    {{message}}
  </body>
</html>